@define-color foreground #eeeeee;
@define-color foreground-inactive #aaaaaa;
@define-color background #000000;

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 17px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    color: @foreground;
    padding-left: 0.3em;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

#memory,
#temperature {
    padding-left: 1em
}

#cpu {
    padding-left: 1em
}
#wireplumber,
#battery,
#backlight,
#language,
#network,
#bluetooth,
#clock {
    padding-right: 10px
}
#tray {
    padding-right: 1em 
}
